<h1>New Product Created!</h1>
<h1><%= @product.name %></h1>
<p>$<%= @product.price %></p>
<p><%= @product.description %></p>
<img id="prod_img" src="<%= @product.image%>">
<p><a href="/products">All Products</a></p>