<h1>Mystical Products</h1>
<% @products.each do |product| %>
<h2><%= product.name %></h2>
<p>$<%= product.price %></p>
<p><%= product.description %></p>
<img width=400px src="<%= product.image%>">
<br>
<% end %>