<h1>Edit Supplier Information</h1>
<%= form_tag "/suppliers/#{@supplier.id}", method: :patch do %>
  <div class="form-group">
    <label>Name:</label>
    <input type="text" name="name" class="form-control" placeholder="Name" value="<%= @supplier.name %>">
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="text" name="email" class="form-control" placeholder="Email" value="<%= @supplier.email %>">
  </div>
  <div class="form-group">
    <label>Phone Number:</label>
    <input type="text" name="phone_number" class="form-control" placeholder="Phone Number" value="<%= @supplier.phone_number %>">
  </div>
  <div class="form-group">
    <button type="submit" name="Submit" class="btn btn-primary">Update Supplier Information</button>
    <a href="/suppliers" class="btn btn-default">Cancel</a>
  </div>
<% end %>